/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.background{
	background-color: #4443ff;
}
		
.colcustom1{
	width: 100%;
}	
.colcustom2{
	width: 100%;
}
.background-img{
	background-image: url("img/Green.jpg");
}
/* Ajax loading circle */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url("img/ajax-loader.gif") 
                50% 50% 
                no-repeat;
}

